body {
  background-color: #f9f9f9 !important;
}
.navbar-brand {
  font-family: 'Lobster', cursive;
  font-size: 2rem !important;
}

.jumbotron {
  height: 400px;
  position: relative;
  font-family: 'Balsamiq Sans', cursive;
}

.jumbotron::before {
  content: '';
  background-image: url('./Assets/Pizza.jpg');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.8;
}

.jumbotron div {
  z-index: 1;
}

.jumbotron h1 {
  font-weight: 700;
}

.jumbotron button {
  font-size: 1.1rem;
}

.create-pizza {
  font-family: 'Balsamiq Sans', cursive;
  font-weight: 700;
}

.card-heading {
  font-family: 'Lobster', cursive;
}
footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #ffffff;
  border-top: 0.05rem solid #e5e5e5;
  margin-top: 5rem;
}
